<h2 align="center">Please Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="wrapper">
  <div class="logo"> <img src="https://www.freepnglogos.com/uploads/logo-home-png/house-logo-png-21.png" alt=""> </div>
  <div class="text-center mt-4 name"> Property Finder </div>
  <form class="p-3 mt-3">

    <div class="field">
      <%= f.label :first_name %><br />
      <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <%= f.text_field  :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %></div>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <%= f.text_field  :last_name, autofocus: true, class: "form-control", placeholder: "Last Name"%></div>
    </div>

  <div class="field">
    <%= f.label :email %><br />
    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Username", autocomplete: "email" %></div>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", placeholder: "Password", class: "form-control" %></div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword", placeholder: "Password Confirmation", class: "form-control" %></div>
  </div>

  <div class="actions">
    <button class="btn mt-3" type="submit">Sign Up</button>
  </div>
    <%= render "devise/shared/links" %>
  </form>
</div>
<% end %>






